<div class="main-container">
<div class="side-bar">
  <div class="logo-club">
      <img src="ieee.jpeg" alt="">
      <div class="club-name">IEEE</div>
  </div>

  <div class="navigation">
      <ul>
          <li> <a routerLink="/dash-respo/events"> Events </a> </li>
          <li> <a href="#events"> Events </a> </li>
          <li> <a href="#teams"> Teams </a> </li>
          <li> <a href="#contactus"> Contact Us </a> </li>
      </ul>
  </div>
</div>
<div class="contenu">

<router-outlet></router-outlet>

</div>

</div>
