<div class="main-container">
<div class="side-bar">
  <div class="logo-club">
      <img src="../../assets/img/dashboard logo.png" alt="">
      <div class="club-name">Dashboard</div>
  </div>

  <div class="navigation">
      <ul>
          <li [routerLinkActive]="'activerouteLi'"> <a [routerLinkActive]="'activerouteA'" routerLink="/dash-respo/change_logo"> Logo </a> </li>
          <li [routerLinkActive]="'activerouteLi'"> <a [routerLinkActive]="'activerouteA'" routerLink="/dash-respo/events"> Events </a> </li>
          <li [routerLinkActive]="'activerouteLi'"> <a [routerLinkActive]="'activerouteA'" routerLink="/dash-respo/team"> Team </a> </li>

      </ul>
  </div>
</div>

<router-outlet></router-outlet>

</div>
