<div class="contenu">
  <h3>Change Post </h3>



  <div class="row" style="">
    <div class="col form">
      <form [formGroup]="formPost" (submit)="onPostSubmit()">

        <div class="form-group" style="width: 100%;">
          <label for="post_title">Post title</label>
          <input type="text"  class="form-control" formControlName="post_title" id="post_title" placeholder="Enter your post title" >
          <label for="post_description">Post description</label>
          <input type="text"  class="form-control" formControlName="post_description" id="post_description" placeholder="Enter your post description">
          <label for="post_img">Post image</label>
          <input type="file" #filePicker (change)="onImagePicked($event)" class="form-control" id="post_img"
            placeholder="Enter your post image">
          <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview">
            <img [src]="imagePreview" alt="">
          </div>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <div class="col current">
      <h5>Current Post</h5>
      <div class="currentImage">
        <h6>{{ post?.post_title }}</h6>
        <p>{{ post?.post_description }}</p>
      </div>
      <div class="currentImage">
        <img style="width: 100%; max-height: 400px;" src="./../../../../assets/img/posts/{{ post?.post_img }}" alt="">
      </div>
    </div>
  </div>
</div>
