@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');







.card {
    color: #fff;
    width: 350px;
    border-radius: 10px;
    background: linear-gradient(145deg, #1d2434, #ced2da);
    box-shadow: 20px 20px 60px #eae7eb, -20px -20px 60px #fffeff;
    border: none
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #1d2434, #ced2da);
    box-shadow: inset 20px 20px 60px #913ca0, inset -20px -20px 60px #c552d8
}

.num {
    color: #eee !important
}

.line {
    color: #fff
}

.neo-button:active {
    border-radius: 50%;
    background: #AB47BC;
    box-shadow: 28px 28px 57px #933da2, -28px -28px 57px #c351d6
}
