<app-admin></app-admin>

  <!-- <div class="contenu">  <table class="table table-margin">
    <thead class="table-primary">
          <tr>
           
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">type</th>
            <th scope="col">operations</th>
          </tr>
        </thead>
       
        <tbody>
          
          <tr *ngFor="let user of fetchedUser">
            <th scope="row">{{user.name}}</th>
            <td>{{user.email}}</td>
            <td>{{user.type}}</td>
            <td><button type="button" class="btn-info"  routerLink="{{user.id}}">show more</button></td>
          </tr>
         
       
        </tbody>
      </table>
</div> -->

<div class="contenu">
  <a class="btn btn-success add-btn"  role="button" (click)="onClickShowForm()"> Add User</a>
  <table class="table table-margin">
    <thead class="table-primary">
      <tr>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">type</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of fetchedUser; let i = index">
        <th scope="row">{{user.name}} </th>
        <td>{{user.email}}</td>
        <td>{{user.type}}</td>
        <td> <a> <button  type="button" routerLink="{{user._id}}" class="btn btn-info"> Details </button> </a></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="model-bg" *ngIf="showAddUserForm">

    <a class="close-button" (click)="onClickCloseForm()">X</a>
    <div class="edit">
      <!-- create form -->
      <form [formGroup]="formaddUser" (submit)="onAddSubmit()">
        
             <div class="form-group">
          <label for="name">User Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter user name">
        </div>
        <div class="form-group">
          <label for="email">User Email : </label>
          <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter user email">
        </div>
        <div class="form-group">
          <label for="password">User password : </label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter user password">
        </div>
        <div class="form-group">
          <label for="radio">User type : </label>
          <!-- <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter user type"> -->
          <select class="form-control" id="type" formControlName="type" name="type">
          <option value="admin">admin</option>
          <option value="manager">manager</option>
        </select>
        </div>
        <div class="form-group">
          <label for="event_img">User Image</label>
          <input type="file" #filePicker (change)="onImagePicked($event)" class="form-control" id="userimage" placeholder="Enter user image">
      <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview">
        <img [src]="imagePreview" alt="">
      </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>


</div>


