<app-admin></app-admin>

  <div class="contenu">  <table class="table table-margin">
    <thead class="table-primary">
          <tr>
           
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">type</th>
            <th scope="col">operations</th>
          </tr>
        </thead>
       
        <tbody>
          
          <tr *ngFor="let user of users">
            <th scope="row">{{user.name}}</th>
            <td>{{user.email}}</td>
            <td>{{user.type}}</td>
            <td><button type="button" class="btn-info"  routerLink="{{user.id}}">show more</button></td>
          </tr>
         
       
        </tbody>
      </table>
</div>

