ul li a {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
.ActiveLink{
  background-color: #464343ab;
    border-radius: 10px;
}

.toRight{
  position: absolute;
    right: 0;
}
