<app-dash-respo></app-dash-respo>
<div class="contenu">


  <div class="card card-style" style="width: 18rem;">
    <img src="./../../../../assets/img/{{team?.team_img}}" class="card-img-top" style="height: 350px;" alt="image">
    <div class="card-body">
      <h5 class="card-title"> Name : {{team?.team_name}} </h5>
      <p class="card-text">  Titre : {{team?.team_titre}} </p>
      <div style="display: flex;gap: 15px;">
      <a href="#" class="btn btn-primary">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
    </div>
  </div>
</div>
