<div class="main-container" style="margin-top: -5%;">
    <div class="side-bar">
      <div class="logo-club">
          <img src="ieee.jpeg" alt="">
          <div class="club-name">Admin</div>
      </div>
    
      <div class="navigation">
          <ul>
              <li> <a routerLink="/admin/user"> Users </a> </li>
              <li> <a href="/admin"> User request </a> </li>
              <li> <a href="/admin"> Departments </a> </li>
              <li> <a href="/admin"> Clubs </a> </li>
          </ul>
      </div>
    </div>
    <div class="contenu">
    
    <router-outlet></router-outlet>
    
    </div>
    
    </div>
    