<div class="main-container" >
    <div class="side-bar">
      <div class="logo-club">
          <img src="../../assets/img/dashboardadmin.png" width="10px" alt="">
          <div class="club-name">Admin</div>
      </div>
    
      <div class="navigation">
          <ul>
            <li [routerLinkActive]="'activerouteLi'"> <a [routerLinkActive]="'activerouteA'"routerLink="/admin/user"> Users </a> </li>
             
              <li [routerLinkActive]="'activerouteLi'"> <a [routerLinkActive]="'activerouteA'" routerLink="/admin/club"> Clubs </a> </li>
          </ul>
      </div>
    </div>
    <div class="contenu">
    
    <router-outlet></router-outlet>
    
    </div>
    
    </div>
    