<app-admin></app-admin>
<div class="contenu">
  <a class="btn btn-success add-btn"  role="button" (click)="onClickShowForm()"> Add Club</a>
    <table class="table table-margin">
      <thead class="table-primary">
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">description</th>
            <th scope="col">details</th>
          </tr>
        </thead>
       
        <tbody>
          <tr *ngFor="let club of clubslist; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{club.title}}</td>
            <td>{{club.description}}</td>
            <td><a><button type="button" routerLink="{{club._id}}">More Details</button></a></td>
          </tr>
        </tbody>
      </table>
</div>

<div class="model-bg" *ngIf="showAddClubForm">

  <a class="close-button" (click)="onClickCloseForm()">X</a>
  <div class="edit">
    <!-- create form -->
    <form [formGroup]="formAdd" (submit)="onAddSubmit()">
      <div class="form-group">
        <label for="title">club Name</label>
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter club name">
      </div>
      <div class="form-group">
        <label for="description" >club Description : </label>
        <input type="text" class="form-control" id="description" formControlName="description" placeholder="Enter club description">
      </div>
      <div class="form-group">
        <label for="image">club Image</label>
        <input type="file" #filePicker (change)="onImagePicked($event)" class="form-control" id="image" placeholder="Enter club image">
    <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview">
      <img [src]="imagePreview" alt="">
    </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


</div>
