.table-margin{
    margin-top: 8%;
    margin-left: 5%;
    width: 90%;
}
button{
    background-color:rgba(131, 202, 235, 0.719);
    color:black;
    font-weight: 20px;
}
.table-margin{
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
}

.add-btn{
    margin-top: 2%;
    margin-left: 5%;
    width: 10%;
}

.model-bg{
    z-index: 10000;
    position: fixed;
    top: 0;
    background-color: #00000062;
    width: 100vw;
    height: 100vh;
}


.edit{
  width: 400px;
  position: absolute;
  right: 35%;
  top: 16%;
  padding: 15px;
  background-color: rgb(241, 238, 238);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.edit label{
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit button{
  margin-top: 10px;

}

.image-preview{
  height: 135px;
    width: 209px;
    margin-top: 10px;
}
.image-preview img{
  height: 100%;
  width: 100%;
}

.close-button{
  font-size: 20px;
  z-index: 10000;
  position: fixed;
  right: 33%;
  top: 10%;
  color: #fff;
  width: 30px;
  height: 30px;
  border: none;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  text-decoration: none;
}
