<flash-messages></flash-messages>
<div class="container" id="container" #container>
  <div class="form-container sign-up-container">
    <form (submit)="onSignUpSubmit()" [formGroup]="formSignUp">
      <h1>Create Account</h1>
      <span>or use your email for registration</span>
      <input type="text" placeholder="Name" formControlName="name" />
      <input type="email" placeholder="Email" formControlName="email" />
      <span class="warning" *ngIf="formSignUp.get('email').invalid && formSignUp.get('email').touched">Please
        enter valide email</span>
      <input type="password" placeholder="Password"name="password" formControlName="password"/>
      <span class="warning"
      *ngIf="formSignUp.get('password').invalid && formSignUp.get('password').touched">Password must be 6
      caractere</span>
      <button type="submit" [disabled]="!formSignUp.valid">Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form (ngSubmit)="onSigninSubmit()" [formGroup]="formLogin">
      <h1>Sign in</h1>
      <span>or use your account</span>
      <input type="email" placeholder="Email" formControlName="email" />
      <span class="warning" *ngIf="formLogin.get('email').invalid && formLogin.get('email').touched">Please enter valide
        email</span>
      <input type="password" placeholder="Password" formControlName="password" name="password"  />
      <span class="warning"
        *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched">Password must be 8
        caractere</span>

      <button type="submit" [disabled]="!formLogin.valid">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn" #signIn>Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start exploring with us</p>
        <button class="ghost" id="signUp" #signUp>Sign Up</button>
      </div>
    </div>
  </div>
</div>
