<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

<div class="main-container" style="margin-top: -5%;">
    <div class="side-bar" style="height: 500%;">
        <div class="logo-club">
            <img src="assets/img/ieee.jpeg" alt="">
            <div class="club-name">IEEE</div>
        </div>

        <div class="navigation">
            <ul>
                <li> <a href="#aboutus"> About Us </a> </li>
                <li> <a href="#events"> Events </a> </li>
                <li> <a href="#teams"> Teams </a> </li>
                <li> <a href="#contactus"> Contact Us </a> </li>
            </ul>
        </div>
        
    </div>

    <div class="contenu">
        <div id="aboutus">
            
            <h1 class="title">About Us</h1>
            <div class="line-desc"></div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae quidem voluptate quos sunt aliquid laboriosam modi quibusdam, praesentium quaerat. Sequi fugiat velit, magnam odio porro tempore officiis consequuntur excepturi. Laboriosam quaerat assumenda voluptatibus cum iure.</p>
        
            <div class="news">
                <img src="assets/img/tunivisions_post.jpg" alt="">
                <div class="news-desc">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum hic ullam, quia eaque, eos molestias quisquam impedit, aperiam doloribus animi accusantium. Veniam ipsa nihil natus ratione quasi similique asperiores accusamus consectetur, nam saepe mollitia ab sit, aliquid, illum deleniti. Facilis dolores ipsam, sed impedit eaque asperiores ut consequatur tempora dolorum voluptates possimus necessitatibus. Repellendus inventore architecto, est eius velit modi.</p>
                </div>
        </div>
        </div>
        
        <div id="ligne"></div>
        <div id="events">
            <h1 class="title" >Events</h1>
            <div class="line-desc"></div>

            <div class="slider owl-carousel">
                <div class="card">
                   <div class="img">
                       
                      <img src="4c(1).jpg" alt="">
                   </div>
            
                </div>

                <div class="card">
                    <div class="img">
                       <img src="4c(2).jpg" alt="">
                    </div>
                    
                    </div>
                
                 <div class="card">
                    <div class="img">
                       <img src="4c(3).jpg" alt="">
                    </div>
                    
                    </div>
               
                 <div class="card">
                    <div class="img">
                       <img src="4c(4).jpg" alt="">
                    </div>
                    
                    </div>
            
                 <div class="card">
                    <div class="img">
                       <img src="4c(5).jpg" alt="">
                    </div>
                    
                    </div>
                 
            </div>
        </div>
        <div id="ligne"></div>
        <div id="teams">
            <h1 class="title">Teams</h1>
            <div class="line-desc"></div>
           <div id="teams-cards">
                <div class="container">
                    <div class="image">
                    <img src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
                    </div>
                    <div class="content">
                    <div class="info">
                        <h2>
                            Andrew Neil
                        </h2>
                        <span>Web Developer</span>
                    </div>
                    </div>
                 
                    <ul>
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="bi bi-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-github"></span></a></li>
                    </ul>
                </div>
                <div class="container">
                    <div class="image">
                    <img src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
                    </div>
                    <div class="content">
                    <div class="info">
                        <h2>
                            Andrew Neil
                        </h2>
                        <span>Web Developer</span>
                    </div>
                    </div>
                    <ul>
                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-github"></span></a></li>
                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
                <div class="container">
                    <div class="image">
                    <img src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
                    </div>
                    <div class="content">
                    <div class="info">
                        <h2>
                            Andrew Neil
                        </h2>
                        <span>Web Developer</span>
                    </div>
                    </div>
                    <ul>
                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-github"></span></a></li>
                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="ligne"></div>
        <div id="contactus">
            <h1 class="title">Contact Us</h1>
            <div class="line-desc"></div>
            <div class="row">
                <div class="right-content">
                  <div class="container-form">
                    <form id="contact" action="" method="post">
                      <div class="row">
                        <div class="col-md-6">
                          <fieldset>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="" />
                          </fieldset>
                        </div>
                        <div class="col-md-6">
                          <fieldset>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="" />
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <select class="form-select" aria-label="Default select example">
                              <option value="1">Informatique</option>
                              <option value="2">Gestion</option>
                              <option value="3">Mecanique</option>
                              <option value="4">Electrique</option>
                              <option value="5">Genie de Procede</option>
                            </select>
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Tell us a little bit about yourself.." required=""></textarea>
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="button">
                              Send Message
                            </button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>

       
    </div>


<script>
    $(".slider").owlCarousel({
      loop: true,
      autoplay: true,
      autoplayTimeout: 2000, //2000ms = 2s;
      autoplayHoverPause: true,
      items : 3,
    });
 </script>
 



