<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

<div class="main-container" style="margin-top: -5%;  background-color:rgb(219, 218, 218);" *ngFor="let club of fetchedClub">
    <div class="side-bar" style="height: 500%;">
        <div class="logo-club">
            <img src="./../../../assets/img/club/{{club.image}}" alt="">
            <div class="club-name">{{club.title}}</div>
        </div>

        <div class="navigation">
            <ul>
                <li> <h4 > About Us </h4> </li>
                <li> <h4> Events </h4> </li>
                <li> <h4> Teams </h4> </li>
                <li> <h4> Contact Us </h4> </li>
            </ul>
        </div>

    </div>

    <div class="contenu" >
        <div id="aboutus">

            <h1 class="title">About Us</h1>

            <p>{{club.description}}</p>

            <div class="news" *ngFor="let post of club.post">

                <img src="./../../../assets/img/posts/{{post.post_img}}" alt="">


                <div class="news-desc" style="margin-top:-10% ;" >
                  <p style="font-weight: bold;font-size: 175%;">{{post.post_title}}</p>
               <p >{{post.post_description}}</p>
                </div>
        </div>
        </div>

        <div id="ligne"></div>
        <div id="events">
            <h1 class="title" >Events</h1>


            <div class="events"  >
              <!-- <h1 class="title-events">Latest Events</h1> -->
              <div class="wrapper">
                  <input type="radio" name="slide" id="one" checked>
                  <input type="radio" name="slide" id="two">
                  <input type="radio" name="slide" id="three">
                  <input type="radio" name="slide" id="four">
                  <input type="radio" name="slide" id="five">
                  <div class="img img-{{i+1}}" *ngFor="let event of club.events;let i=index;">
                  <img src="./../../../assets/img/events/{{event.event_img}}" alt="">
                  </div>

                  <div class="sliders">
                    <label for="one" class="one"></label>
                    <label for="two" class="two"></label>
                    <label for="three" class="three"></label>
                    <label for="four" class="four"></label>
                    <label for="five" class="five"></label>
                  </div>
                </div>
          </div>
        </div>
        <div id="ligne"></div>
        <div id="teams">
            <h1 class="title">Teams</h1>
            <div class="line-desc"></div>
           <div id="teams-cards">
                <div class="container" *ngFor="let team of club.team">
                    <div class="image" >
                    <img src="./../../../assets/img/team/{{team.team_img}}">
                    </div>
                    <div class="content">
                    <div class="info">
                        <h2>
                          {{team.team_name}}
                        </h2>
                        <span> {{team.team_titre}}</span>
                    </div>
                    </div>

                    <ul>
                    <li><a href="{{team.team_fb}}"><i  style="font-size:52px;color: #1d2434;" class="bi bi-facebook"></i></a></li>
                    <li><a href="{{team.team_insta}}"><i  style="font-size:52px;color: #1d2434;" class="bi bi-linkedin"></i></a></li>
                    <li><a href="{{team.team_linkedin}}"><i  style="font-size:53px;color: #1d2434;" class="bi bi-github"></i></a></li>
                    <li><a href="{{team.team_twitter}}"><i  style="font-size:50px;color: #1d2434;" class="bi bi-instagram"></i></a></li>

                    </ul>
                </div>


        <div id="ligne"></div>
        <div id="contactus">
            <h1 class="title">Contact Us</h1>
            <div class="line-desc"></div>
            <div class="row">
                <div class="right-content">
                  <div class="container-form">
                    <form id="contact" action="" method="post">
                      <div class="row">
                        <div class="col-md-6">
                          <fieldset>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="" />
                          </fieldset>
                        </div>
                        <div class="col-md-6">
                          <fieldset>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="" />
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <select class="form-select" aria-label="Default select example">
                              <option value="1">Informatique</option>
                              <option value="2">Gestion</option>
                              <option value="3">Mecanique</option>
                              <option value="4">Electrique</option>
                              <option value="5">Genie de Procede</option>
                            </select>
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Tell us a little bit about yourself.." required=""></textarea>
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="button">
                              Send Message
                            </button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>


    </div>


<script>
    $(".slider").owlCarousel({
      loop: true,
      autoplay: true,
      autoplayTimeout: 2000, //2000ms = 2s;
      autoplayHoverPause: true,
      items : 3,
    });
 </script>




