<app-dash-respo></app-dash-respo>
<div class="contenu">
  <a class="btn btn-success add-btn"  role="button" (click)="onOpenAddForm()"> Add Team</a>
  <table class="table table-margin">
    <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Titre</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of fetchedteam">
        <th scope="row">{{team.id}} </th>
        <td>{{team.team_name}}</td>
        <td>{{team.team_titre}}</td>
        <td> <a> <button  type="button" routerLink="{{team.id}}" class="btn btn-info"> Details </button> </a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="model-bg" *ngIf="showAddEventForm">

  <a class="close-button" (click)="onClickCloseForm()">X</a>
  <div class="edit">
    <!-- create form -->
    <form [formGroup]="formAdd" (submit)="onAddSubmit()">
      <div class="form-group">
        <label for="team_name">Team Name</label>
        <input type="text" class="form-control" id="team_name" formControlName="team_name" placeholder="Enter Team name">
      </div>
      <div class="form-group">
        <label for="team_titre">Team title</label>
        <input type="text" class="form-control" id="team_titre" formControlName="team_titre" placeholder="Enter Team title">
      </div>
     <div class="row">
      <div class="form-group col">
        <label for="team_fb">Team facebook</label>
        <input type="text" class="form-control" id="team_fb" formControlName="team_fb" placeholder="Enter Team facebook">
      </div>
      <div class="form-group col">
        <label for="team_insta">Team instagram</label>
        <input type="text" class="form-control" id="team_insta" formControlName="team_insta" placeholder="Enter Team instagram">
      </div>
     </div>
     <div class="row">
      <div class="form-group col">
        <label for="team_linkedin">Team LinkedIn</label>
        <input type="text" class="form-control" id="team_linkedin" formControlName="team_linkedin" placeholder="Enter Team LinkedIn">
      </div>
      <div class="form-group col">
        <label for="team_twitter">Team Twitter</label>
        <input type="text" class="form-control" id="team_twitter" formControlName="team_twitter" placeholder="Enter Team Twitter">
      </div>
     </div>

      <div class="form-group">
        <label for="team_img">Team Image</label>
        <input type="file" #filePicker (change)="onImagePicked($event)" class="form-control" id="team_img" placeholder="Enter team image">
    <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview">
      <img [src]="imagePreview" alt="">
    </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


</div>
