<app-admin></app-admin>
<div class="contenu">

  <div class="card card-style" style="width: 25rem;">
    <img src="./../../../../assets/img/{{club?.club_img}}" class="card-img-top" style="height: 350px;" alt="image">
    <div class="card-body">
      <h5 class="card-title">Club {{club?.id}} </h5>
      <p class="card-text">Name : {{club?.name}} </p>
      <p class="card-text">Theme : {{club?.theme}} </p>
      <p class="card-text">About us : {{club?.about}} </p>

      <div style="display: flex;gap: 15px;">
      <a href="#" class="btn btn-primary">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
    </div>
  </div>
  





























































































































































































































































